body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  display: grid;
  min-height: 100vh;
  width: 100vw;
}

#App {
  display: flex;
  flex-flow: row;
}

.Sidebar {
  position: relative;
  max-height: 100vh;
  max-width: 30%;
  background-color: whitesmoke;
  padding: 2rem;
  text-align: center;
}

.Preview {
  position: relative;
  display: flex;
  flex: 1;
  background-color: rgb(216, 216, 216);
  justify-content: center;
  align-items: center;
}
