.Resume {
  display: grid;
  grid-template-rows: auto 1fr 5fr;
  width: 700px;
  height: 900px;
  background-color: white;
}

.GeneralInformationView {
  color: white;
  background-color: #1d3461;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.GeneralInformationView h1 {
  font-size: 2rem;
}

.GeneralInformationView img {
  width: 25px;
  filter: brightness(0) invert(1);
}

.contactInformation {
  display: flex;
  justify-content: space-evenly;
}

.contactInformation div {
  display: flex;
  align-items: center;
}

.contactInformation img {
  margin-right: 2px;
}

section {
  padding: 0 50px;
}

.preview-header {
  background-color: whitesmoke;
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
}

.preview-info {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

.view {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
}

.dates-preview {
  margin-right: 30px;
  text-align: left;
}

.info-preview {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: bold;
  margin-bottom: 2px;
}

.location {
  margin-top: 2px;
}
