.Resume {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 700px;
  height: 900px;
  background-color: white;
}

.GeneralInformationView {
  color: white;
  background-color: #1d3461;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.GeneralInformationView h1 {
  font-size: 2rem;
}

.GeneralInformationView img {
  width: 25px;
  filter: brightness(0) invert(1);
}

.contactInformation {
  display: flex;
  justify-content: space-evenly;
}

.contactInformation div {
  display: flex;
  align-items: center;
}

.contactInformation img {
  margin-right: 2px;
}

.preview-header {
  background-color: whitesmoke;
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
}

.educInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.schoolInfo {
  font-size: 1.2rem;
  font-weight: bold;
}
