.header {
  font-size: 2rem;
  font-weight: bold;
  color: var(--font-color);
  margin-bottom: 20px;
}

.description {
  font-size: 1.2rem;
  color: var(--font-color);
}

form {
  color: var(--font-color);
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 10px 10px 10px var(--box-shadow);
}

.formHeader {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 20px;
}

.formHeader img {
  width: 30px;
  margin-right: 10px;
}

.fieldset {
  border-style: none;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  max-width: 100%;
}

.fieldset label {
  display: flex;
  text-align: left;
  flex-direction: column;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.fieldset span {
  margin-bottom: 5px;
}

.dates {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.formInput {
  border-radius: 15px;
  padding: 0.8rem;
  font-size: 0.9rem;
  border: solid 2px transparent;
  background-color: whitesmoke;
  transition: 0.1s;
}

.formInput:focus {
  border-color: var(--outline);
  box-shadow: 2px 2px 10px var(--box-shadow);
  outline: none;
}

.experience {
  display: flex;
  flex-direction: column;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: var(--font-color);
  border: solid 2px var(--off-white);
  border-radius: 10px;
  font-size: 1rem;
  padding: 10px;
  width: 20%;
  margin: 10px;
  margin-left: 20px;
  transition: 0.08s ease-in-out;
  cursor: pointer;
}

.btn img {
  width: 20px;
  filter: grayscale(80%);
}

.btn:active {
  border-color: #aaaaaa;
}

.btns {
  display: flex;
  flex-direction: row;
}

.form-section {
  border: solid 3px var(--off-white);
  border-radius: 10px;
  padding: 15px;
  font-size: 1.2rem;
  margin: 10px 20px;
}

.information {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-weight: bold;
  font-size: 1.2rem;
  color: rgb(90, 90, 90);
  border: solid 3px var(--off-white);
  border-radius: 10px;
  padding: 10px 20px;
  width: 85%;
  margin-bottom: 10px;
}

.infoText {
  display: flex;
  align-items: start;
  width: 70%;
  overflow: hidden;
}

.btn-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: gray;
  margin-left: 5px;
}

textarea {
  resize: none;
}
